version: 2
ethernets:
  id0:
    match:
      macaddress: ${mac_address}
    set-name: eth0
    addresses:
      - ${ip_address}/24
    gateway4: ${gateway}
    nameservers:
      addresses: [${dns}]
